  .message {
    text-align: center;
    padding: 0.75rem;
    margin-top: 0.75rem;

    h4 {
        margin: 0;
    }
  }

  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: aliceblue;
    border-bottom-right-radius: calc(0.3rem- 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
    padding-top: 0;
    margin-bottom: 20px;
}

  .btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #878787;
}

.btn-primary {
  width: 129px;
  background-color: #7381A7;
  border-color: #7381A7;
}

p {
  margin-left: 30px;
  margin-top: 15px;
}
