<div class="content">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="address">
                <img src="../../../assets/images/success.png" alt="success_icon">
                <h1>Solicitação enviada com sucesso!</h1>
                <p><strong>Código da solicitação: </strong> {{codigo}}</p>
                <p><strong>Data da solicitação:</strong>
                    {{today | date: 'dd/MM/yyyy'}}</p>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="action" style="display: flex; justify-content: space-between;">
        <button class="item" (click)="backConsulta()" mat-raised-button
            color="primary">Consultar solicitação
        </button>
        <button class="item" (click)="sendHome()" mat-raised-button
            color="primary">Nova solicitação
        </button>
    </div>
</div>
