<div class="table-content">
    <div class="d-flex justify-content-left w-100">
        <img class="logo" src="../../../../../../assets/images/Screen Shot 2021-07-02 at 14.41.12.png" alt="">
    </div>

    <div class="info">
        <p> Av. Rebouças, 3839 - Jardim Paulistano - SP/SP <br>
            Contato: 3815-9855</p>

        <p class="dados-orcamento">
            <b>
                ORÇAMENTO nº {{result[0]?.codigoSimples}}
                <br>
                Emissão em {{result[0]?.dataCriacao | date: 'dd/MM/yyyy'}}
            </b>
        </p>
    </div>

    <div class="table-responsive mt-4">
        <table class="table hover-fixed">
            <thead class="thead-gray">
                <tr class="text-center">
                  <th scope="col">Valor informado</th>
                  <th scope="col">Valor da escritura</th>
                  <th scope="col">{{result[0]?.tipoEscritura == 'ITBI' ? 'ITBI' : 'ITCMD'}}</th>
                  <th scope="col">Valor do registro</th>
                  <th scope="col">Valor total</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" *ngFor="let r of result">
                  <td>{{r.valorInformado | currency: 'BRL' : true}}</td>
                  <td>{{r.valorEscritura | currency: 'BRL' : true}}</td>
                  <td>{{r.valorTipoEscritura | currency: 'BRL' : true}}</td>
                  <td>{{r.valorRegistro | currency: 'BRL' : true}}</td>
                  <td>{{r.valorTotal | currency: 'BRL' : true}}</td>
                </tr>
              </tbody>
        </table>
    </div>


    <div class="texto-escrito">
        <p>
            Os valores acima previstos são meramente estimativos e baseados nas informações preenchidas pelo usuário
            diretamente no site da serventia, conforme Tabela de Custas vigente no Estado de São Paulo no ano de 2021.
        </p>
        <p>
            A previsão de emolumentos de registro (custas que serão pagas ao competente Cartório de Registro de Imóveis)
            representam estimativas realizadas com base na tabela de emolumentos dessa natureza de serventia. Não foram
            inclusas no orçamento acima eventuais certidões e averbações necessárias que podem ser indicadas pelo
            registrador de imóveis.
        </p>
        <p>
            Observações:
        </p>
        <p>
            <b>(i)</b> o envio a registro pode se dar pelas partes, configurando-se mero auxílio da serventia notarial
            fazê-lo;
        </p>
        <p>
            <b>(ii)</b> os emolumentos têm natureza de taxa, sendo vedada a cobrança a maior ou concessão de quaisquer
            descontos em relação aos mesmos, tem-se que:
        </p>
        <p>
          <b>a)</b> qualquer valor não utilizado para fins registrais
            (e/ou em
            relação à solicitação de certidões caso seja autorizada pelas partes) deverá ser devolvido, através de conta
            bancária indicada pelas mesmas partes;
        </p>
        <p>
          <b>b)</b> não serão cobrados quaisquer valores adicionais, quer em
          relação
          ao envio a registro, quer em relação ao próprio serviço notarial, que não sejam em virtude de lei
          (emolumentos).
        </p>
    </div>

</div>
