.table-responsive {
  margin-top: 100px !important;
}

.table-content {
  margin : 0;
  padding: 0 100px;
}

.info {
  margin-top: 40px;

  .dados-orcamento {
    font-size : 18px;
    margin-top: 100px;
  }
}

.logo {
  width: 500px;
}

.texto-escrito {
  margin-top: 100px;
  min-height: 900px;

  p {
    text-align : justify;
    font-size  : 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-indent: 4em;
  }
}

@media (max-width: 720px) {
  .table-content {
    margin-left: 25px;
    margin-top  : -45px !important;
    padding     : 0px 40px;
  }

  .logo {
    margin-top: -350px;
    width     : 300px;
  }

  .texto-escrito {
    margin-top: 40px;

    p {
      font-size    : 85%;
      line-height  : 15px;
      text-indent  : 3em;
      margin-bottom: 2px;
      text-align   : justify;
    }
  }

  .info {
    margin-top : 5px !important;
    font-size  : 100%;
    line-height: 200%;

    .dados-orcamento {
      font-size  : 100%;
      margin-top : 40px;
      line-height: 200%
    }
  }

  .table-responsive {
    margin-top: 40px !important;
    font-size : 100%;

    td,
    th {
      padding: 0;
    }
  }
}

@media (max-width: 500px) {
  .table-content {
    margin-top: -45px !important;
    padding   : 0 20px;
  }

  .logo {
    width: 52px;
  }

  .texto-escrito {
    margin-top: 10px;

    p {
      font-size    : 37%;
      line-height  : 8px;
      text-indent  : 3em;
      margin-bottom: 2px;
    }
  }

  .info {
    margin-top : 5px !important;
    font-size  : 3px;
    line-height: 5px;

    .dados-orcamento {
      font-size  : 4px;
      margin-top : 25px;
      line-height: 6px;
    }
  }

  .table-responsive {
    margin-top: 25px !important;
    font-size : 32%;

    td,
    th {
      padding: 0;
    }
  }
}
