.messages {
  overflow-y: scroll;
  .sent-position {
      align-self: flex-end;
      text-align: -webkit-right;
      .id {
          font-size: 10px;
          color: grey;
          margin: 0 0 2px 0;
          text-align: right;
      }
      .message {
          width: fit-content;
          display: flex;
          flex-direction: column;
          margin: 1px 1px 20px 1px;
          background: #4445e7;
          border-radius: 5px;
          color: white;
          .fs-13 {
              margin: 8px 40px -6px 40px;
          }
          .message-time {
              font-size: 10px;
              position: relative;
              top: 15px;
              color: gray;
              text-align: right;
          }
      }
  }
  .received-position {
      align-self: flex-start;
      text-align: -webkit-left;
      .id {
          font-size: 10px;
          color: grey;
          margin: 0 0 2px 0;
          text-align: left;
      }
      .message {
          width: fit-content;
          display: flex;
          flex-direction: column;
          margin: 1px 1px 20px 1px;
          background: #808080;
          border-radius: 5px;
          color: white;
          .fs-13 {
              margin: 8px 40px -6px 40px;
          }
          .message-time {
              font-size: 10px;
              position: relative;
              top: 15px;
              color: gray;
              text-align: left;
          }
      }
  }
}


.fs-justify {
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 20px 30px 0px 30px;
  text-align: justify;
}

.font-size-chat{
  font-size: 10px;
  color: grey;
}

.pendencia{
  width: 130px;
}

.modal-body {
  max-height: 400px;
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}


.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem- 1px);
  border-bottom-left-radius: calc(0.3rem- 1px);
}
