<div class="content">
    <h1 class="title-section">
        CONFIRMAR INFORMAÇÕES PREENCHIDAS
    </h1>
    <div class="dados-ato" *ngIf="buscaCepService.qtdSolicitacoes === 1">
        <h3>Nome das partes: <i>{{infoService?.summaryCheck?.dados1.nomePartes || 'Não informado'}}</i></h3>
        <h3>Tipo do ato: <i>{{infoService?.summaryCheck?.dados1.tipoAto || 'Não informado'}}</i></h3>
        <h3>Livro: <i>{{infoService?.summaryCheck?.dados1.livro || 'Não informado'}}</i></h3>
        <h3>Folha: <i>{{infoService?.summaryCheck?.dados1.folha || 'Não informado'}}</i> </h3>
        <h3 *ngIf="apiService?.chosenCartorio?.userId !=
        '390228c0-eef0-11ea-924e-0af504ceb319'">Certidão digital: <i>{{infoService?.summaryCheck?.certidaoDigital ?
                'Sim' : 'Não'}}</i> </h3>
    </div>
    <div class="dados-ato" *ngIf="buscaCepService.qtdSolicitacoes > 1">
        <h3>Quantidade de solicitações: <i>{{buscaCepService?.qtdSolicitacoes}}</i></h3>
    </div>

    <h3>Forma de retirada: <i>{{ getTipoRetirada(infoService.summaryCheck) }}</i></h3>

    <div *ngIf="infoService?.summaryCheck?.endereco.retirar === 1" class="forma-entrega">
        <h3>Endereço de entrega:
            <i>{{infoService?.summaryCheck?.endereco.logradouro}} -
                {{infoService?.summaryCheck?.endereco.numero}} -
                {{infoService?.summaryCheck?.endereco.cep}} -
                {{infoService?.summaryCheck?.endereco.cidade}} -
                {{infoService?.summaryCheck?.endereco.uf}}
            </i>
        </h3>
    </div>
    <div class="dados-solicitante">
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.nome">Nome do solicitante:
            <i>{{infoService?.summaryCheck?.solicitante.nome}}</i>
        </h3>
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.cpfCnpj">CPF/CNPJ do solicitante:
            <i>{{infoService?.summaryCheck?.solicitante.cpfCnpj}}</i>
        </h3>
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.responsavel">Responsável:
            <i>{{infoService?.summaryCheck?.solicitante.responsavel.nome}}</i>
        </h3>
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.email">Email:
            <i>{{infoService?.summaryCheck?.solicitante.email}}</i>
        </h3>
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.telefone">Telefone:
            <i>{{infoService?.summaryCheck?.solicitante.telefone}}</i>
        </h3>
        <h3 *ngIf="infoService?.summaryCheck?.solicitante.mensagem">Mensagem:
            <i>{{infoService?.summaryCheck?.solicitante.mensagem}}</i>
        </h3>
    </div>
    <div class="valores">
        <!--
            Validacao 5tn (+ 1 real)

            <h3>Valor do serviço: <i>{{(data.certidaoDigital && apiService?.chosenCartorio?.userId ==
                'f2f01938-37f1-11eb-a93a-0e29607613cd' ?
                (71.80 * data.dados.length) : (70.80 * data.dados.length)) | currency :'BRL':true}}</i></h3>
        <h3>Valor do frete:
            <i>
                {{ (showFreightValue() == 0 ? 0 : showFreightValue()) | currency: 'BRL':true }}
            </i>
        </h3>

        <h2 style="text-align: center;">Valor total do serviço: {{(data.certidaoDigital &&
            apiService?.chosenCartorio?.userId == 'f2f01938-37f1-11eb-a93a-0e29607613cd' ?
            (71.80 * data.dados.length) + (showFreightValue() == 0 ? 0 : showFreightValue()) :
            (70.80 * data.dados.length) + (showFreightValue() == 0 ? 0 : showFreightValue())) |
            currency:'BRL':true}}
        </h2>
 -->

        <h3>Valor do serviço: <i>{{this.data.valorSolicitacao | currency :'BRL':true}}</i></h3>
        <h3>Valor do frete:
            <i>
                {{ (showFreightValue() == 0 ? 0 : showFreightValue()) | currency: 'BRL':true }}
            </i>
        </h3>
        <h3 *ngIf="data.tipoRetirada == 1 && this.data.valorFrete == 0"><i>Não foi possível calcular o frete da sua solicitação neste momento, portanto, o valor da solicitação será alterado após nossa análise.</i></h3>
        <br>
        <h2 style="text-align: center;">Valor total do serviço:
            {{
              this.data.valorSolicitacao + (showFreightValue() == 0 ?
            0 : showFreightValue())|currency:'BRL':true
            }}
        </h2>
    </div>

    <div class="action">
        <button mat-raised-button color="primary" class="btn" (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="infoService.clicked" class="btn"
            (click)="submit()">Confirmar</button>
    </div>
</div>
