@import '../../variables.scss';
.header {
  height: 100px;
  box-shadow: 0px 3px 6px #0000000f;

  /*   .header-content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
}

.dropdown:active {
  transition: 200ms;
  background: #8f8d8d1f;
}
.dropdown {
  transition: 500ms;
  padding: 5px;
  border-radius: 10px;
  padding: 5px;
}
