

<div class="header p-3 d-flex justify-content-end align-items-center">
  <div ngbDropdown class="d-inline-block dropdown c-p">
    <div class="d-flex align-items-center" id="dropdownBasic1" ngbDropdownToggle>
     <!--  <img src="../../../assets/img/profile.jpeg" class="img-rounded mr-3"> -->
      <div class="d-flex">
        <span class="mr-2">Rogéria Lima</span>
      </div>
    </div>
    <div ngbDropdownMenu aria-labelledby="">
      <button ngbDropdownItem routerLink="/perfil">Perfil</button>
      <button ngbDropdownItem routerLink="/login">Sair</button>
    </div>
  </div>
</div>
