hr{
    opacity: 1;
}

h2, h3{
    font-weight: 300;
}

.showCardWhenMobile{
    display: none;
}
.hideCardWhenMobile{
    display: block;
}

@media(max-width: 500px){
  
    .col-6{
        max-width: 100%;
    }
    .action{
        justify-content: center;
        button{
            width: 100%;
        }
    }
    .showCardWhenMobile{
        display: block;
    }
    .hideCardWhenMobile{
        display: none;
    }
}