<div class="container mt-4">

    <h3>Disponibilizamos uma forma fácil e rápida para consultar seu Cartão de Assinatura em nosso Cartório. Basta
        inserir seu Nome Completo ou CPF para verificar se já existe cadastro no sistema.
    </h3>

    <hr>
    <form [formGroup]="userForm" class="mt-4">
        Pesquisar por:
        <div class="btn-group p-0 col-12 btn-group-toggle mt-4" data-toggle="buttons">
            <label (click)="changeType('cpf&cpf')" [ngClass]="{'active' : userForm.value.tipo == 'cpf&cpf'}"
                class="d-flex justify-content-center align-items-center btn btn-light">
                <input type="radio" name="options" id="option1" checked>
                <span>CPF</span>
            </label>

            <label (click)="changeType('nome&nome')" [ngClass]="{'active' : userForm.value.tipo == 'nome&nome'}"
                class="d-flex justify-content-center align-items-center  btn btn-light">
                <input type="radio" name="options" id="option2">
                <span>Nome</span>
            </label>
        </div>
        <div class="form-group col-6 p-0 mt-4" *ngIf="userForm.value.tipo == 'cpf&cpf'">
            <label>CPF</label>
            <input [required]="userForm.get('tipo').value == 'cpf&cpf'" type="text" placeholder="000.000.000-00"
                mask="000.000.000-00" class="form-control" [ngClass]="{'invalid-form-field': userForm.get('cpf').invalid &&
      userForm.get('cpf').touched}" formControlName="cpf" placeholder="Digite seu cpf"
                on-focusout="cpfIsReal(userForm.get('cpf').value)">
        </div>
        <div class="form-group col-6 p-0 mt-4" *ngIf="userForm.value.tipo != 'cpf&cpf'">
            <label>Nome</label>
            <input [ngClass]="{'invalid-form-field': userForm.get('nome').invalid &&
            userForm.get('nome').touched}" [required]="userForm.get('tipo').value == 'nome&nome'" type="text"
                class="form-control" formControlName="nome" placeholder="Digite seu nome completo">
        </div>
        <div class="action d-flex justify-content-end mt-4">
            <button (click)="submit()" class="btn btn-secundary border">Consultar</button>
        </div>
        <small style="left: 10px; position: relative; top: -75px; color: red;"> {{error.cpf.message}} </small>

    </form>

    <div class="showCardWhenMobile" *ngIf="hasResults">
        <div class="card p-2 mt-4 d-flex w-100" *ngFor="let r of result">
            <span class="d-flex w-100 align-items-center flex-column">
                <div class="d-flex w-100 flex-column">
                    <div class="d-flex justify-content-between">
                        <strong class="mr-1 text-secundary uppercase">Nome:</strong>
                        <span>{{r?.content[0].nome}}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <strong class="mr-1 text-secundary uppercase">Possui cadastro?:</strong>
                        <span>Sim</span>
                    </div>
                </div>
            </span>
        </div>
    </div>

    <div class="card p-3 mt-4 text-center hideCardWhenMobile" *ngIf="hasResults">
        <div class="table-content">
            <div class="table-responsive">
                <table class="table hover-fixed">
                    <thead class="thead-gray">
                        <tr class="text-center">
                            <th scope="col">Nome</th>
                            <th scope="col">Possui cadastro?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-center" *ngFor="let r of result">
                            <td>
                                {{r?.content[0].nome}}
                            </td>
                            <td>
                                Sim
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>