.content {

  .align-right {
    text-align: right;
    span {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .file-upload-wrapper {
    $defaultColor: #3f51b5;
    $height: 50px;
    margin-right: 10px;
    width: 250px;
    text-align: center;

    &:before {
      display: flex;
      justify-content: center;
      align-items: center;
      content: "Upload";
      height: 50px;
      width: 250px;
      background: $defaultColor;
      color: #fff;
      font-weight: 700;
      z-index: 2;
      pointer-events: none;
      border-radius: 4px;
    }

    &:hover {
      &:before {
        background: darken($defaultColor, 10%);
        transition: 400ms;
      }
    }

    input {
      opacity: 0;
      margin-top: -50px !important;
      height: 50px !important;
      position: absolute;
      z-index: 99;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 250px;
    }
    input:disabled {
      cursor: not-allowed;
    }
  }
  .title {
    h1 {
      font-weight: 300;
      margin-bottom: 32px;
    }
    p {
      font-weight: 300;
    }
  }
  .res {
    padding: 0 20px;
    .mat-expansion {
      width: 100%;

      mat-expansion-panel {
        font-weight: 300;

        margin: 10px;
        .d-flex {
          display: flex;
          justify-content: space-between;
          margin-top: 5px !important;
          .action {
            display: flex;
            /* align-items: center */
          }
          .info {
            align-items: center;
            p {
              font-weight: normal;
            }
          }
        }
        mat-expansion-panel-header {
          mat-panel-title {
            max-width: 32px;
            .mat-pending {
              color: red;
            }
            .mat-done {
              color: green;
            }
            .mat-null {
              color: orange;
            }
          }
        }
      }
    }
    .example-card {
      min-width: 350px;
      margin-top: 16px;
      margin: 10px;
      mat-card-content {
        width: 100%;
        .info {
          .address {
            .line4 {
              display: flex;
              width: 100%;
              justify-content: space-between;
              p {
                width: 556px;
                text-align: center;
              }
            }
          }
        }
        .files {
          display: flex;
          flex-direction: column;
        }
        .error {
          h1 {
            text-align: center;
            font-weight: 300;
            margin: 100px 0;
            font-size: 25pt;
            color: rgb(133, 130, 130);
          }
        }
      }
    }
  }

  ::ng-deep .mat-body p, .mat-body-1 p, .mat-typography p {
    margin: 0px !important;
}

  mat-card {
    mat-card-content {
      width: 100%;
      .info {
        .address {
          .line4 {
            display: flex;
            width: 100%;
            justify-content: space-between;
            p {
              width: 556px;
              text-align: center;
            }
          }
        }
      }
      .files {
        display: flex;
        flex-direction: column;
      }
      .error {
        h1 {
          text-align: center;
          font-weight: 300;
          margin: 100px 0;
          font-size: 25pt;
          color: rgb(133, 130, 130);
        }
      }
    }
  }
  h3 {
    font-size: 14pt;
    font-weight: 300;
  }
  .margin-10 {
    margin: 10px;
  }

  a:link {
    text-decoration: none;
    color: black;
  }
  margin: 30px 50px;
  .filter {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .action {
      display: flex;
    }
    mat-form-field {
      width: 250px;
    }
  }
  .notification {
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
  }

  .notification:hover {
    font-size: +15px;
  }

  .notification .badge {
    position: absolute;
    top: -1px;
    padding: 0px 7px;
    right: -27px;
    border-radius: 50%;
    background-color: red;
    color: red;
  }
}

.work-break {
  word-break: break-word;
  white-space: normal;
}

.ml-8 {
  margin-left: 8px !important;
}

.mr {
  margin-right: 10px;
}
hr {
  margin: 20px 0;
  opacity: 0.3;
}

.cursor-pointer {
  cursor: pointer;
}

.historico {
  margin-left: 156px;
  margin-bottom: 50px;
}

.matExpansion {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 10%;
  min-width: 600px;

  .matPanel {
    background-color: #3f51b5;

    ::ng-deep .mat-expansion-indicator::after {
      border-style: solid;
      color: white;
      border-width: 0 2px 2px 0;
      content: "";
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      vertical-align: middle;
  }
  }
  .matPanelTitle {
    color: white;
  }

  ::ng-deep .mat-expansion-panel-body {
    background-color: white;
  }
}

.messages {
  overflow-y: scroll;
  max-height: 400px;
  .sent-position {
    align-self: flex-end;
    text-align: -webkit-right;
    .id {
      font-size: 10px;
      color: grey;
      margin: 0 0 2px 0;
      text-align: right;
    }
    .message {
      max-width: 250px;
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin: 1px 1px 20px 1px;
      background: #3f51b5;
      border-radius: 5px;
      color: white;
      .fs-13 {
        margin: 8px 40px -6px 40px;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .message-time {
        font-size: 10px;
        position: relative;
        top: 15px;
        color: gray;
        text-align: right;
      }
    }
  }
  .received-position {
    align-self: flex-start;
    text-align: -webkit-left;
    .id {
      font-size: 10px;
      color: grey;
      margin: 0 0 2px 0;
      text-align: left;
    }
    .message {
      max-width: 250px;
      width: fit-content;
      display: flex;
      flex-direction: column;
      margin: 1px 1px 20px 1px;
      background: #808080;
      border-radius: 5px;
      color: white;
      .fs-13 {
        margin: 8px 40px -6px 40px;
        word-wrap: break-word;
        white-space: pre-wrap;
      }
      .message-time {
        font-size: 10px;
        position: relative;
        top: 15px;
        color: gray;
        text-align: left;
      }
    }
  }
  .paper-clip {
    left: 80%;
    cursor: pointer;
    position: relative;
    top: -50px;
  }
}

.hiddenFileInput > input {
  opacity: 0;
  width: 30px;
  position: absolute;
  cursor: pointer;
}

.file {
  width: 6%;
  left: -94%;
  cursor: pointer;
  position: relative;
  top: 56px;
}

.hiddenFileInput {
  cursor: pointer;
  overflow: hidden;
}

.textarea {
  display: flex;
  align-items: center;
  float: left;
  position: relative;
  img {
    margin-left: 10px;
    color: white;
    cursor: pointer;
  }
}

.font-size-chat {
  font-size: 10px;
}

.fa-2x {
  font-size: 2em;
}

.send {
  top: 52px;
  right: 36px;
  position: relative;
}

.text-area-width {
  width: 114% !important;
}

cursor {
  cursor: pointer;
}

.t {
  max-width: 307px;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 13px;
}

.mt-3 {
  max-width: 307px;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-top: 15px !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
  cursor: pointer;
}

hr {
  width: 100%;
  opacity: 2.3;
}

.accordion-button:not(.collapsed) {
  color: white;
  background: white;
}

@media (max-width: 880px) {
  .content {
    .filter {
      flex-direction: column;
    }
    .action {
      justify-content: space-between;
      button {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 480px) {
  .content {
    margin: 30px 20px;
    .action {
      flex-direction: column;
      button {
        margin-top: 5px;
        width: 100% !important;
      }
    }
  }
}
