<div class="content">
  <div class="title">
    <h1>Consultar solicitação</h1>
    <p>Aqui você pode efetuar a consulta das solicitações efetuadas no cartório
      <i>{{this.apiService.chosenCartorio.title.innerHTML}}.</i>
    </p>
  </div>
  <div class="filter">
    <div>
      <mat-form-field class="example-full-width mr">
        <mat-label>Consultar solicitação</mat-label>
        <input matInput required placeholder="Ex. A1234" value="" [(ngModel)]="this.infoService.codigo_solicitacao">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input required matInput placeholder="Digite seu email"
          value="" [(ngModel)]="this.infoService.email">
      </mat-form-field>
    </div>
    <div class="action">
      <button mat-raised-button class="btn" color="primary"
        (click)="this.infoService?.consultar(this.infoService?.codigo_solicitacao)">Consultar
      </button>
    </div>

  </div>
  <hr>
  <div class="res" *ngIf="infoService?.buscarSolicitacao && this.infoService?.arraySolicitacoes.codigo_ordem !== null">
    <mat-tab-group>
      <mat-tab label="Informações da Solicitação">

        <mat-card class="example-card">
          <h3 class="margin-10">Informações da solicitação</h3>

          <mat-card-content *ngIf="this.infoService?.arraySolicitacoes.codigoSimples != null">
            <div class="info">
              <p> <strong>Código da solicitação:</strong>
                {{this.infoService?.arraySolicitacoes?.codigoSimples || 'Não informado'}} </p>
              <p *ngIf="infoService?.arraySolicitacoes.tipoSolicitacao == 'CERTIDAO_ESCRITURA'"> <strong>Valor da
                  solicitação:</strong>
                {{(infoService?.arraySolicitacoes?.valorSolicitacao +
                infoService?.arraySolicitacoes?.valorFrete) | currency: 'BRL': true}} </p>
              <p> <strong>Data da solicitação:</strong>
                {{(this.infoService?.arraySolicitacoes?.dataCriacao | date: 'dd/MM/yyyy') || 'Não
                informado'}}
              </p>
              <p> <strong>Código de Rastreio:</strong>
                {{this.infoService?.arraySolicitacoes?.codigoRastreio || 'Não disponível'}}
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 1">
                <strong>Status:</strong>
                <strong><i> Solicitação em aberto</i></strong>
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 2">
                <strong>Status:</strong>
                <strong><i> Aguardando pagamento</i></strong>
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 3">
                <strong>Status:</strong>
                <strong><i> Pagamento confirmado</i></strong>
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 4">
                <strong>Status:</strong>
                <strong><i> Solicitação concluída</i></strong>
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 5">
                <strong>Status:</strong>
                <strong><i> Solicitação cancelada</i></strong>
              </p>
              <p *ngIf="this.infoService?.arraySolicitacoes.codigoStatus === 6">
                <strong>Status:</strong>
                <strong><i> Pendências</i></strong>
              </p>
              <div *ngFor="let d of infoService?.arraySolicitacoes?.dados">
                <h3 *ngIf="infoService?.arraySolicitacoes?.dados.length > 1">Solicitação
                  {{d.contagem}}</h3>
                <p> <strong>Nomes das partes:</strong>
                  {{d.nomePartes || 'Não informado'}}
                </p>
                <p> <strong>Tipo ato:</strong>
                  {{d.tipoAto || 'Não informado'}}
                </p>
                <p> <strong>Livro ato:</strong>
                  {{d.livro || 'Não informado'}}
                </p>
                <p> <strong>Folha ato:</strong>
                  {{d.folha || 'Não informado'}}
                </p>
                <p> <strong>Data ato:</strong>
                  {{(d.dataAto | date: 'dd/MM/yyyy') || 'Não informado'}}
                </p>
              </div>

              <p> <strong>Mensagem:</strong>
                {{this.infoService?.arraySolicitacoes?.mensagem || 'Não informado'}}
              </p>

              <p> <strong>Nome do solicitante:</strong>
                {{this.infoService?.arraySolicitacoes?.pessoa?.nome || 'Não informado'}} </p>
              <p> <strong>Email:</strong>
                {{this.infoService?.arraySolicitacoes?.pessoa?.email || 'Não informado'}} </p>
              <p> <strong>CPF/CNPJ:</strong>
                {{this.infoService?.arraySolicitacoes?.pessoa?.cpfCnpj |
                mask: this.infoService?.arraySolicitacoes?.pessoa?.cpfCnpj.length <=11 ? "000.000.000-00"
                  : "00.000.000/0000-00" || 'Não informado' }} </p>
                  <p> <strong>Telefone:</strong>
                    {{this.infoService?.arraySolicitacoes?.pessoa?.telefone | mask: '(00)
                    00009-0000' || 'Não informado'}}
                  </p>


                  <div class="address" *ngIf="infoService?.arraySolicitacoes?.tipoRetirada === 1">
                    <hr>
                    <h3>Endereço</h3>
                    <p><strong>CEP:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.cep | mask:
                      "00000-000" ||
                      'Não informado'}}
                    </p>
                    <p><strong>Logradouro:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.logradouro || 'Não
                      informado'}}
                    </p>
                    <p><strong>Número:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.numero || 'Não
                      informado'}}
                    </p>
                    <p><strong>Complemento:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.complemento || 'Não
                      informado'}}
                    </p>
                    <p><strong>Bairro:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.bairro || 'Não
                      informado'}}
                    </p>
                    <p><strong>Cidade:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.cidade || 'Não
                      informado'}}
                    </p>
                    <p><strong>UF:</strong>
                      {{this.infoService?.arraySolicitacoes?.pessoa.endereco?.estado || 'Não
                      informado'}}
                    </p>

                  </div>
            </div>
            <div class="files" *ngIf="infoService?.arraySolicitacoes?.arquivos != null">
              <hr>
              <h3>Arquivos</h3>
              <a *ngFor="let url of infoService?.arraySolicitacoes?.arquivos; let i = index " href="{{url}}"
                target="_blank"> <strong>Baixar arquivo:
                </strong><i>{{infoService.getUrl(url)}}</i></a>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Pendências">
        <ng-template mat-tab-label>
          <span matBadge="{{getPendingQtd(providenciasService?.resProvidencia)}}"
            [matBadgeHidden]="providenciasService.hideBadge" matBadgeOverlap="false">Pendência</span>
        </ng-template>
        <h3 class="margin-10">Informações de pendências</h3>
        <mat-accordion
          *ngIf="this.infoService?.arraySolicitacoes.codigo_ordem !== null && !providenciasService.blockTableView"
          class="mat-expansion">
          <mat-expansion-panel
            [ngStyle]="{'background-color': providencia.resolvido === true ? 'rgb(171, 253, 200)' : (providencia.resolvido === false ? 'rgb(255, 164, 164)' : 'rgb(255 236 122 / 49%)')}"
            *ngFor="let providencia of providenciasService?.resProvidencia">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mat-pending" *ngIf="providencia.resolvido === false">error_outline
                </mat-icon>
                <mat-icon class="mat-done" *ngIf="providencia.resolvido === true">check_circle_outline
                </mat-icon>
                <mat-icon *ngIf="providencia.resolvido === null" class="mat-null">watch_later
                </mat-icon>
              </mat-panel-title>
              <mat-panel-description [innerHTML]="providencia.textoPendencia" >

              </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="d-flex">
              <div class="info">
                <p>Data: {{providencia.dataPendencia | date: 'dd/MM/yyyy - hh:mm'}}</p>
                <p>Status: {{providencia.resolvido === true ? 'Resolvido' : (providencia.resolvido ===
                  false ? 'Pendente' : 'Em análise')}}</p>
              </div>

              <div class="d-flex flex-column">
                <div class="historico">
                  <a class="btn-link btn-sm" (click)="openHistory(providencia)">Ver histórico</a>
                </div>

                <div class="action" *ngIf="providencia.resolvido === false">
                  <button class="btn" mat-raised-button color="primary" (click)="resolver(providencia)">
                    Resolver
                  </button>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>

      <mat-tab label="Documentos">
        <ng-template mat-tab-label>
          <span matBadge="{{getPendingQtdDocumentos(infoService?.registros)}}"
            matBadgeOverlap="false">Documentos</span>
        </ng-template>
        <h3 class="margin-10">Informações de documentos</h3>
        <mat-accordion *ngIf="this.infoService?.registros !== null" class="mat-expansion">
          <mat-expansion-panel *ngFor="let registro of infoService?.registros"
            [ngStyle]="{'background-color': registro.aprovado === true ? 'rgb(171, 253, 200)' : (registro.aprovado === false ? 'rgb(255, 164, 164)' : 'rgb(255 236 122 / 49%)')}">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="mat-pending" *ngIf="registro.aprovado === false">error_outline
                </mat-icon>
                <mat-icon class="mat-done" *ngIf="registro.aprovado === true">check_circle_outline
                </mat-icon>
                <mat-icon *ngIf="registro.aprovado === null" class="mat-null">watch_later
                </mat-icon>
              </mat-panel-title>
              <mat-panel-description>
                <span [innerHTML]="registro.descricao"></span>
              </mat-panel-description>
            </mat-expansion-panel-header>


            <div class="d-flex">
              <div class="info">
                <p>Data: {{registro.dataCriacao | date: 'dd/MM/yyyy - hh:mm'}}</p>
                <p>Assunto: {{this.getAssunto(registro.tipoAssunto)}}</p>
                <p>Status: {{this.getStatus(registro.aprovado)}}</p>
                <p>Documentos:<a class="btn-link btn-sm cursor-pointer" (click)="download(registro)">Baixar
                    documentos</a> </p>
                <p class="d-flex justify-content-start">Mensagem: <span class="work-break ml-8"
                    [innerHTML]="registro.descricao"></span>
                </p>
              </div>

              <div *ngIf="registro.aprovado == null" class="d-flex action">
                <a class="btn-link btn-sm cursor-pointer" (click)="docValidation(registro,true)">Aprovar</a>
                <a class="btn-link btn-sm cursor-pointer" (click)="docValidation(registro,false)">Reprovar</a>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>

    </mat-tab-group>

  </div>
  <mat-card style="width: 100%;"
    *ngIf="infoService.error == true">
    <mat-card-content>
      <div class="error">
        <h1>Solicitação não encontrada. Verifique os dados informados.</h1>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-accordion class="matExpansion" *ngIf="infoService?.buscarSolicitacao && this.infoService?.arraySolicitacoes.codigo_ordem !== null">
    <mat-expansion-panel class="matPanel"  [expanded]="checkMessages()" >
      <mat-expansion-panel-header class="matExpansionPanelHeader">
        <mat-panel-title class="matPanelTitle">Mensagens</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="messages" id="collapseChat">
        <div *ngFor="let message of infoService?.messages; let i = index" class="message"
          [ngClass]="{'sent-position': message.msgSolicitante, 'received-position': !message.msgSolicitante}">
          <p *ngIf="message.mensagem !='' " class="m-0 font-size-chat">{{message.remetente}}</p>
          <div class="message cursor-pointer" (click)="downloads(message.linkArquivo)" *ngIf="message.linkArquivo">
            <p class="c-pointer fs-13 f-flex-f-direction-column align-items-center">
              <i class="bi bi-cloud-download fa-2x"></i>
              <span>Arquivo enviado</span>
            </p>
            <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
          </div>
          <div *ngIf="message.mensagem" class="message">
            <div class="fs-13" [innerHTML]="message.mensagem"></div>
            <div class="message-time">{{message.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss '}}</div>
          </div>
        </div>
      </div>
      <hr>
      <form [formGroup]="form" class="flex column">
        <div *ngFor="let f of filesShow; let i = index" class="d-flex">
          <p class="t">{{f.nome}}</p> <span (click)="removeSelectedIndex(i)" class="ml-1 cursor">X</span>
        </div>
        <div class="d-flex text-area-width">
          <textarea class="form-control" formControlName="mensagem" placeholder="Digite uma mensagem" rows="3"></textarea>
          <button mat-icon-button  class="send cursor-pointer" [disabled]="this.form.value.mensagem?.length == 0 && this.form.value.arquivo?.length == 0" (click)="sendMessage()" >
            <mat-icon>send</mat-icon>
         </button>
          <div class="file">
            <div class="hiddenFileInput">
              <input type="file" multiple (change)="handleSelectChat($event)">
              <span>
                <u class=""><mat-icon> attach_file</mat-icon></u>
              </span>
            </div>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>



</div>
