<div class="content">
  <h1 class="title-section">
    Certidão digital
  </h1>
  <div class="dados-ato" >
      <h3>Você selecionou "Certidão digital". Será enviado um arquivo digital para o email <i>{{data.solicitante?.email}}</i>. Deseja continuar?</h3>
  </div>

  <div class="action">
      <button mat-raised-button color="primary" class="btn" (click)="close(false)" >Cancelar</button>
      <button mat-raised-button color="primary" class="btn" (click)="close(true)">Confirmar</button>
  </div>
</div>
