.action{
  display: flex;
  justify-content: space-between;
}

hr{
  width: 100%;
}

.title-section{
  font-weight: 200;
  text-align: center;
}

h3{
  margin: 0;
}

.dados-ato{
  margin-bottom: 20px;
  text-align: justify;

}
