<div class="content">
    <mat-card class="example-card">
        <mat-card-content>
            <div class="address">
                <mat-icon>done</mat-icon>
                <h1 class="title_h1">E-mail enviado com sucesso!</h1>
                <p><strong>Data do envio:</strong>
                    {{today | date: 'dd/MM/yyyy'}}</p>

            </div>
        </mat-card-content>
    </mat-card>
    <div class="action d-flex justify-content-center" >
        <button class="item" (click)="sendHome()" mat-raised-button color="primary">Nova solicitação
        </button>
    </div>
</div>