<div class="d-flex w-100">
    <div class="w-40">

        <div class="form-atualizarsenha">
            <div class="home">
                <form [formGroup]="email">
                    <div class="logo">
                        <h1 class="logo">LOGO</h1>
                    </div>

                    <div class="start">
                        <h1>Atualize sua senha </h1>
                        <div class="d-flex">
                            <p>Preencha o campo abaixo para receber o link de redefinição de senha</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>E-mail</label>
                        <input formControlName="email" placeholder="Seu e-mail" type="text" class="form-control" required />
                    </div>
                    <button (click)="teste()" class="btn btn-primary w-100">Enviar link</button>
                </form>


            </div>
        </div>
    </div>

    <div class="w-60">
        <img src="assets/images/businessman-reading-contract-closeup.jpg" alt="">
    </div>

</div>
