<div class="container">
  <div class="modal-header align-items-center">
    <h4 class="modal-title uppercase">Baixar orçamento</h4>
    <button type="button" (click)="close()" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form [formGroup]="baixarOrcamento">
    <div class="modal-body">
      <div class="form-group col-12 p-0">
        <label>Nome</label>
        <input required type="text" class="form-control" formControlName="nome" placeholder="Digite seu nome" [ngClass]="{'invalid-form-field': baixarOrcamento.get('nome').invalid &&
        baixarOrcamento.get('nome').touched}">
      </div>
      <div class="form-group col-12 p-0">
        <label>Telefone</label>
        <input placeholder="Digite seu telefone" required type="text" class="form-control" formControlName="telefone"
          mask="(00) 00000-0000||(00) 0000-0000" on-focusout="phoneNumberIsReal(baixarOrcamento.get('telefone').value)" [ngClass]="{'invalid-form-field': baixarOrcamento.get('telefone').invalid &&
      baixarOrcamento.get('telefone').touched}">
      <small style="color: red;"> {{error.phone.message}} </small>
      </div>
      <div class="form-group col-12 p-0">
        <label>E-mail</label>
        <input required type="text" class="form-control" formControlName="email" placeholder="aaaaa@exemplo.com" on-focusout="validacaoEmail(baixarOrcamento.get('email').value)"
          [ngClass]="{'invalid-form-field': baixarOrcamento.get('email').invalid &&
            baixarOrcamento.get('email').touched}">
            <small style="color: red;"> {{error.email.message}} </small>
      </div>
    </div>
  </form>



  <div class="modal-footer justify-content-center">
    <button (click)="validate()" type="button" class="btn btn-light">
      Baixar
    </button>
  </div>

</div>
