.message {
  text-align: center;
  padding: 0.75rem;
  margin-top: 0.75rem;
  h4 {
      margin: 0;
  }
}

.documento {
  width: 130px;
}

::ng-deep.modal-dialog {
  max-width: 800px !important;
  margin: 1.75rem auto;
}

textarea {
  height: 180px;
}

.p-0 {
  padding: 0.75rem !important
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 22px;
}

.work-break {
  word-break: break-word;
  white-space: normal;
  margin-left: 160px;
}

p {
  font-size: 20px;
}
