<div class="modal-header align-items-center">
  <h4 class="modal-title">Aprovação de documentos</h4>
  <button type="button" (click)="close()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>

<div class="message">
  <p class="work-break d-flex">Deseja realmente {{this.data.validation == false ? 'Reprovar' : 'Aprovar'}} documento <strong class="ml-1"><span [innerHTML]="this.data.doc.descricao"></span></strong></p>
</div>

<div *ngIf="this.data.validation == false" class="form-group p-0">
  <label>Descrição do motivo de reprovação</label>
  <div class="flex-column">
      <textarea type="text" maxlength="3000" class="form-control" name="motivo" id="motivo" maxlength="3000" placeholder="Digite o motivo de reprovação" cols="3" [(ngModel)]="motivo"></textarea>
      <div class="d-flex justify-content-end">
          <p>{{motivo.length}}/3000</p>
      </div>
  </div>
</div>

<div class="modal-footer justify-content-center" style="padding-top: 0;">
  <button (click)="close()" type="button" class="btn btn-primary documento">
        Cancelar
    </button>
  <button  (click)="submit(this.data.validation)" type="button" class="btn btn-primary documento">
        Confirmar
    </button>
</div>
