@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");

.title {
    font-size: 26px;
    color: rgb(99, 95, 95);
}

hr{
    opacity: 0.8 !important;
}

.nav-bar-container {
  background-color: white;
  box-shadow: 0px 3px 6px #0000000f;
  height: 125px;
  justify-content: center;
}

.logo-tamanho {
  height: 105px;
}


.showCardWhenMobile{
    display: none;
}
.hideCardWhenMobile{
    display: block;
}

@media(max-width: 500px){
    .title{
        text-align: center;
    }
    .col-6{
        max-width: 100%;
    }
    .action{
        justify-content: center;
        button{
            width: 100%;
        }
    }
    .showCardWhenMobile{
        display: block;
    }
    .hideCardWhenMobile{
        display: none;
    }
}
