<nav class="navbar navbar-light nav-bar-container" *ngIf="menu">
  <div class="d-flex justify-content-center logo-tamanho">
      <img [src]="urlLogo" alt="" >
  </div>
</nav>

<div class="container mt-4">
  <h4 class="title">Escritura com valor declarado</h4>

  <form [formGroup]="orcamento" class="mt-4">
    <p>Informe o valor da transação, escolha o tipo de escritura e clique em "Calcular orçamento".
    </p>
    <div class="form-group col-6 p-0 mt-4">
      <label>Valor da transação</label>
      <input required currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" type="text"
        class="form-control" formControlName="valor" placeholder="R$ 500.000,00" [ngClass]="{'invalid-form-field': orcamento.get('valor').invalid &&
      orcamento.get('valor').touched}">
    </div>

    <div class="btn-group p-0 col-12 btn-group-toggle mt-4" data-toggle="buttons">
      <label (click)="orcamento.get('tipoEscritura').setValue('ITBI')"
        class="d-flex justify-content-center align-items-center btn btn-light"
        [ngClass]="{'active': orcamento.value.tipoEscritura == 'ITBI'}">
        <input type="radio" name="options" id="option1" checked>
        <span> Transação Onerosa - ITBI - {{getT('ITBI')/100 | percent}}</span>
      </label>

      <label (click)="orcamento.get('tipoEscritura').setValue('ITCMD')"
        class="d-flex justify-content-center align-items-center  btn btn-light"
        [ngClass]="{'active': orcamento.value.tipoEscritura == 'ITCMD'}">
        <input type="radio" name="options" id="option3">
        <span>Transação Não onerosa - ITCMD - {{getT('ITCMD')/100 | percent}}</span>
      </label>
    </div>

    <div class="action d-flex justify-content-end mt-4">
      <button class="btn btn-secundary border" (click)="calcular()">Calcular orçamento
      </button>
    </div>
  </form>

  <div class="showCardWhenMobile">
    <div class="card p-2 mt-4 d-flex w-100" *ngFor="let r of result">
      <span class="d-flex w-100 align-items-center flex-column">
        <div class="d-flex w-100 flex-column">
          <div class="d-flex justify-content-between">
            <strong class="mr-1 text-secundary uppercase">Valor informado:</strong>
            <span>{{r.valorInformado | currency: 'BRL': true}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <strong class="mr-1 text-secundary uppercase">Valor do registro:</strong>
            <span>{{r.valorRegistro | currency: 'BRL': true}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <strong class="mr-1 text-secundary uppercase">{{r.tipoEscritura == 'ITBI' ? 'ITBI': 'ITCMD'}}:</strong>
            <span>{{r.valorTipoEscritura | currency: 'BRL': true}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <strong class="mr-1 text-secundary uppercase">Valor da escritura:</strong>
            <span>{{r.valorEscritura | currency: 'BRL': true}}</span>
          </div>
          <div class="d-flex justify-content-between">
            <strong class="mr-1 text-secundary uppercase">Valor total:</strong>
            <span>{{r.valorTotal | currency: 'BRL': true}}</span>
          </div>
        </div>
        <button [disabled]="loadService.loadButtonActive"
          class="btn w-100 btn btn-link border mt-4 d-flex align-items-center justify-content-center"
          (click)="baixarOrcamento()">
          <div class="spinner-border text-primary mr-2" *ngIf="loadService.loadButtonActive" role="status"></div>
          <fa-icon class="ml-2 mr-2" *ngIf="!loadService.loadButtonActive" [icon]="icons.faDownload"></fa-icon>
          <span>
            Baixar orçamento
          </span>
        </button>
        <!-- <button (click)="enviarOrcamento()" class="btn w-100 btn btn-link border mt-1">
          <fa-icon class="ml-2 mr-2" [icon]="icons.faPaperPlane"></fa-icon> Enviar por e-mail
        </button> -->
      </span>

    </div>
  </div>

  <div class="card p-3 mt-4 text-center hideCardWhenMobile" *ngIf="hasResults">
    <div class="table-content">
      <div class="table-responsive">
        <table class="table hover-fixed">
          <thead class="thead-gray">
            <tr class="text-center">
              <th scope="col">Valor informado</th>
              <th scope="col">Valor da escritura</th>
              <th scope="col">{{result[0]?.tipoEscritura == 'ITBI' ? 'ITBI' : 'ITCMD'}}</th>
              <th scope="col">Valor do registro</th>
              <th scope="col">Valor total</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center" *ngFor="let r of result">
              <td>{{r.valorInformado | currency: 'BRL' : true}}</td>
              <td>{{r.valorEscritura | currency: 'BRL' : true}}</td>
              <td>{{r.valorTipoEscritura | currency: 'BRL' : true}}</td>
              <td>{{r.valorRegistro | currency: 'BRL' : true}}</td>
              <td>{{r.valorTotal | currency: 'BRL' : true}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <button [disabled]="loadService.loadButtonActive"
        class="btn btn-link border d-flex align-items-center justify-content-center" (click)="baixarOrcamento()">
        <div class="spinner-border text-primary mr-2" *ngIf="loadService.loadButtonActive" role="status"></div>
        <fa-icon class="ml-2 mr-2" *ngIf="!loadService.loadButtonActive" [icon]="icons.faDownload"></fa-icon>
        <span>
          Baixar orçamento
        </span>
      </button>
    </div>
  </div>
</div>

<app-download *ngIf="download" id="content" class="p-3" [result]="result"></app-download>
