.content{
    h1{
        text-align: center;
        font-weight: 300;
        margin-bottom: 16px;
    }
    .action{
        text-align: right;
    }
    width: 100%;
    mat-form-field{
        width: 100%;
        margin-bottom: 16px;
    }
}
$file-control: #a0a0a0;
$height: 80px;

.file-content {
    position: relative;
    border: 1px dashed $file-control;
    height: 90px;
    vertical-align: middle;
    text-align: center;
    border-radius: 4px;
    color: $file-control;
    cursor: pointer;

    .file-control {
        height: $height;
        vertical-align: middle;
        text-align: center;
    }

    .form-control-file {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        appearance: none;
        height: $height;
        width: 100%;
        text-indent: -999em;
        outline: none;
    }
}

.cursor{
  cursor: pointer;
}
