<div class="content">
    <h1>RESOLVER PENDÊNCIA</h1>
    <mat-form-field class="example-full-width">
        <mat-label>Envie uma mensagem para o cartório</mat-label>
        <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="message" matTextareaAutosize matAutosizeMinRows=7 matAutosizeMaxRows=7  matInput placeholder="Ex. Resposta da pendência."></textarea>
    </mat-form-field>
    <p class="fw-bold mt-4 mb-0">
      <strong>Precisa enviar um arquivo?</strong>
  </p>
    <div class="d-table w-100 file-content">
      <div class="d-table-cell file-control w-100 mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z"/>
          <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z"/>
        </svg>
          <ng-container >
            <p *ngIf="this.arquivo.length > 0 ">Você adicionou {{files.length}} {{files.length == 1 ? 'arquivo': 'arquivos'}}</p>
            <p *ngIf="this.arquivo.length == 0">Clique ou arraste os arquivos aqui</p>
              <br>
          </ng-container>
      </div>
      <input type="file" id="anexo" name="anexo" (change)="handleSelect($event)" class="form-control-file" multiple
          DraggableFile />

    </div>
    <div class="justify-content-center mt-20" *ngIf="files">
      <div *ngFor="let file of files; let i = index">
        <div class="d-flex justify-content-center">
          <p class="mr-2 ellipsis p-0">{{file.nome}}</p>
          <span class="cursor">
            <span (click)="deleteFile(i)">X</span>
          </span>
        </div>
      </div>
    </div>

    <div class="action">
        <button [disabled]="this.message.length == 0 && this.arquivo?.length == 0" class="btn" mat-raised-button color="primary" (click)="sendPendingMessage()">Enviar mensagem</button>
    </div>
</div>
