<div class="content">
    <app-toasts aria-live="polite" class="w-100" aria-atomic="true">
    </app-toasts>
    <router-outlet></router-outlet>
    <app-loading *ngIf="loading"></app-loading>
</div>
