<div class="d-flex w-100">
    <div class="w-40">

        <div class="form-cadastro">
            <div class="home">


                <form [formGroup]="senha">
                    <div class="  mb-5">
                        <h2><strong>Logo</strong></h2>
                    </div>
                    <div class="start">
                        <h1>Atualize sua senha</h1>
                        <div class="d-flex">
                            <p>Preeencha os campos abaixo para recuperar sua senha </p>
                        </div>
                    </div>
                    <label>Nova senha</label>
                    <div class="form-group">
                        <input pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" type="password" id="senha" class="form-control" placeholder="Senha" required formControlName="senha">
                        <small style="color: red;" *ngIf="senha.controls.senha.invalid && senha.controls.senha.touched">
                  A senha deve ter: <br>
                  - Pelo menos oito caracteres, <br>
                  - Pelo menos uma letra, <br>
                  - Pelo menos um número e um carácter especial</small>
                    </div>

                    <div class="form-group">
                        <!-- <label>Confirmar senha</label> -->
                        <input formControlName="confirmarsenha" type="password" class="form-control" placeholder="Confirmar senha" required />
                    </div>
                    <button (click)="submit()" class="btn btn-primary w-100">Atualizar senha</button>
                </form>


            </div>
        </div>
    </div>

    <div class="w-60">
        <img src="assets/images/businessman-reading-contract-closeup.jpg" alt="">
    </div>

</div>
