.container {

    .mt-30 {
        margin-top: 30px !important;
    }
    .card {
        position: relative;
        cursor: pointer;
        padding: 10px;
        border-radius: 0.4rem;
        min-height: 75px;
        justify-content: center;
        background-color: #fbfbfb;
        text-align: center;
    }
    .card-body {
        flex: none;
        padding: 0;
    }
    .descricao {
        .tipo {
            font-size: 20px;
            font-weight: 300;
        }
        .tipo,
        .item {
            display: block;
        }
    }
    .descricao {
        display: inline-block;
        vertical-align: middle;
    }
}

@media (max-width: 765px) {
    .container {
        .descricao {
            .tipo {
                font-size: 15px;
                font-weight: 300;
            }
            .tipo,
            .item {
                display: block;
            }
        }
    }
}

@media (max-width: 540px) {
    .container {
        .descricao {
            .tipo {
                font-size: 13px;
                font-weight: 300;
            }
            .tipo,
            .item {
                display: block;
            }
        }
    }
}

@media (max-width: 490px) {
    .container {
     padding-left: 0;
        .card {
            min-height: 65px;
            min-width: 80px;
        }
        .descricao {
            .tipo {
                font-size: 12px;
                font-weight: 300;
            }
            .tipo,
            .item {
                display: block;
            }
        }
    }
}
