<div class="container ">
    <div class="d-flex mt-30">
      <div class="col-3" *ngFor="let t of tipoServico">
        <div class="card color mb-3" (click)="redirect(t.descricaoFuncionalidade)">
          <div class="card-body">
            <div class="descricao">
              <span class="tipo">{{t.descricaoFuncionalidade}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

