.loading-container {
    position: fixed;
    z-index: 2000 !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.279);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
