@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");

body {
    font-family: "Lato", sans-serif;
}
.subtitle-section {
  margin-bottom: 20px !important;
  font-size: 13pt !important;
  font-weight: 300 !important;
  font-family: 'Roboto', "Helvetica Neue", sans-serif !important;

}

.d-flex-tiulo{
  display: flex;
}
.action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    span {
        display: flex;
        flex-direction: column;
    }
}

.example-form {
    margin: 0 50px;
}

.title-section {
    font-size: 13pt;
    font-weight: 300;
}

.text-right {
    text-align: right;
    button:disabled {
        cursor: not-allowed;
        background: rgb(169, 167, 167);
        color: rgb(49, 49, 49);
    }
}

hr {
    opacity: 0.2;
    margin-top: 30px;
    width: 98%;
}

.mr {
    margin-right: 5px;
}
.ml {
    margin-left: 5px;
}

.example-full-width {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
    h3 {
        margin: 0 !important;
    }
}
.mb-30 {
    margin-bottom: 30px;
    h3 {
        margin: 0 !important;
    }
}

.d-flex {
    display: flex;
}

.files {
    margin-top: 15px;
    display: flex;
    align-items: center;
    mat-icon {
        margin-left: 10px;
        cursor: pointer;
    }
}

.file-upload-wrapper {
    $defaultColor: #3f51b5;
    $height: 60px;

    position: relative;
    width: 100%;
    height: $height;

    &:after {
        border: 1px solid rgb(231, 230, 230);
        content: attr(data-text);
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        padding: 10px 15px;
        display: block;
        width: calc(100% - 40px);
        pointer-events: none;
        z-index: 20;
        height: 62px;
        line-height: $height - 20px;
        color: #999;
        border-radius: 5px 10px 10px 5px;
        font-weight: 300;
    }

    &:before {
        content: "Upload";
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
        height: 62px;
        background: $defaultColor;
        color: #fff;
        font-weight: 700;
        z-index: 25;
        font-size: 16px;
        line-height: $height;
        padding: 0 15px;
        text-transform: uppercase;
        pointer-events: none;
        border-radius: 0 5px 5px 0;
    }

    &:hover {
        &:before {
            background: darken($defaultColor, 10%);
            transition: 400ms;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
    input:disabled {
        cursor: not-allowed;
    }
}

@media (max-width: 860px) {
    .form {
        width: 100%;
    }

    .div {
        flex-direction: column;
    }
    .text-right {
        margin-top: 10px;
        button {
            width: 100%;
        }
    }
}

@media (max-width: 665px) {
    .ml {
        margin: 0;
    }
    .mr {
        margin: 0;
    }
    .d-flex {
        flex-direction: column;
    }
    .text-right {
        flex-direction: column;
    }

}

@media (max-width: 510px) {
    .file-upload-wrapper {
        &:after {
            font-size: 12px;
        }
    }
}

@media (max-width: 470px) {
    .example-form {
        margin: 30px 20px;
    }
    mat-radio-group {
       flex-direction: column;
    }
    .action-bottom {
        flex-direction: column;
        .text-right {
            width: 100%;
        }
    }
}

@media (max-width: 375px) {
  p{
    font-size: 11px;
  }
  .example-form {
      margin: 30px 20px;
  }
  .action-bottom {
      flex-direction: column;
      .text-right {
          width: 100%;
      }
  }
  .subtitle-section {
    font-size: 11pt !important;
}
}





