<div class="content">
  <div class="d-flex-tiulo justify-content-between subtitle-section mt-20 example-form">
    <button mat-raised-button color="primary" (click)="location.back()"><svg xmlns="http://www.w3.org/2000/svg"
        width="16" height="16" fill="currentColor" class="bi bi-arrow-left mr-1 mbottom-4" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
      </svg>Voltar</button>
    <div class="text-center">
      <h1>Certidão de Escrituras</h1>
    </div>
    <div>
    </div>
  </div>
  <h1 style="text-align: justify;" class="subtitle-section mt-20 example-form">
    O preenchimento dos campos abaixo nos auxiliará na busca do ato praticado em nosso arquivo. Por este motivo, é
    importante que preencha os campos com o máximo de informações possível. <br>
    <i>Obs: Caso não tenha todas as informações iremos fazer uma busca em nossas Notas, e a mesma tem prazo
      indeterminado.</i>
  </h1>
  <form [formGroup]="profileForm" class="example-form" autocomplete="off" (ngSubmit)="validateCertificate()">
    <h1 class="subtitle-section mt-20">Dados do Ato</h1>

    <form formGroupName="dados1">
      <div class="action mt-20" *ngIf="buscaCepService?.qtdSolicitacoes > 1">
        <h1 class="title-section">Solicitação 1</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nome da(s) Parte(s)</mat-label>
        <textarea formControlName="nomePartes" matInput value=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Ato</mat-label>
        <input formControlName="tipoAto" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field class="example-full-width mr">
          <mat-label>Livro</mat-label>
          <input formControlName="livro" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml mr">
          <mat-label>Folha</mat-label>
          <input formControlName="folha" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml">
          <mat-label>Data do Ato</mat-label>
          <input formControlName="dataAto" type="date" placeholder="Ex: DD/MM/YYYY" matInput value="">
        </mat-form-field>
      </div>

    </form>

    <form formGroupName="dados2" *ngIf="buscaCepService?.qtdSolicitacoes <= 5 && buscaCepService?.qtdSolicitacoes > 1 ">
      <hr>

      <div class="action mt-20">
        <h1 class="title-section">Solicitação 2</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nome da(s) Parte(s)</mat-label>
        <textarea formControlName="nomePartes" matInput value=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Ato</mat-label>
        <input formControlName="tipoAto" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field class="example-full-width mr">
          <mat-label>Livro</mat-label>
          <input formControlName="livro" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml mr">
          <mat-label>Folha</mat-label>
          <input formControlName="folha" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml">
          <mat-label>Data do Ato</mat-label>
          <input formControlName="dataAto" type="date" placeholder="Ex: DD/MM/YYYY" matInput value="">
        </mat-form-field>
      </div>

    </form>

    <form formGroupName="dados3" *ngIf="buscaCepService?.qtdSolicitacoes <= 5 && buscaCepService?.qtdSolicitacoes > 2 ">
      <hr>

      <div class="action mt-20">
        <h1 class="title-section">Solicitação 3</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nome da(s) Parte(s)</mat-label>
        <textarea formControlName="nomePartes" matInput value=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Ato</mat-label>
        <input formControlName="tipoAto" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field class="example-full-width mr">
          <mat-label>Livro</mat-label>
          <input formControlName="livro" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml mr">
          <mat-label>Folha</mat-label>
          <input formControlName="folha" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml">
          <mat-label>Data do Ato</mat-label>
          <input formControlName="dataAto" type="date" placeholder="Ex: DD/MM/YYYY" matInput value="">
        </mat-form-field>
      </div>

    </form>

    <form formGroupName="dados4" *ngIf="buscaCepService?.qtdSolicitacoes <= 5 && buscaCepService?.qtdSolicitacoes > 3 ">
      <hr>

      <div class="action mt-20">
        <h1 class="title-section">Solicitação 4</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nome da(s) Parte(s)</mat-label>
        <textarea formControlName="nomePartes" matInput value=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Ato</mat-label>
        <input formControlName="tipoAto" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field class="example-full-width mr">
          <mat-label>Livro</mat-label>
          <input formControlName="livro" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml mr">
          <mat-label>Folha</mat-label>
          <input formControlName="folha" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml">
          <mat-label>Data do Ato</mat-label>
          <input formControlName="dataAto" type="date" placeholder="Ex: DD/MM/YYYY" matInput value="">
        </mat-form-field>
      </div>

    </form>

    <form formGroupName="dados5" *ngIf="buscaCepService?.qtdSolicitacoes > 4 ">
      <hr>
      <div class="action mt-20">
        <h1 class="title-section">Solicitação 5</h1>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Nome da(s) Parte(s)</mat-label>
        <textarea formControlName="nomePartes" matInput value=""></textarea>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Ato</mat-label>
        <input formControlName="tipoAto" placeholder="Ex: Escritura, Procuração, Inventário, etc..." matInput value="">
      </mat-form-field>

      <div class="d-flex">
        <mat-form-field class="example-full-width mr">
          <mat-label>Livro</mat-label>
          <input formControlName="livro" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml mr">
          <mat-label>Folha</mat-label>
          <input formControlName="folha" matInput value="">
        </mat-form-field>

        <mat-form-field class="example-full-width ml">
          <mat-label>Data do Ato</mat-label>
          <input formControlName="dataAto" type="date" placeholder="Ex: DD/MM/YYYY" matInput value="">
        </mat-form-field>
      </div>
    </form>

    <div class="action">
      <div class="span">
        <div *ngIf="buscaCepService?.qtdSolicitacoes < 5">
          <h1 class="subtitle-section mt-20">
            Deseja adicionar outro pedido de certidão nesta solicitação?
          </h1>
          <button type="button" mat-raised-button color="primary" class="btn" (click)="addFields()">Adicionar
            ato</button>
        </div>

      </div>
      <button *ngIf="buscaCepService?.qtdSolicitacoes > 1" type="button" mat-raised-button color="primary"
        class="btn mt-20" (click)="removeField()">Remover ato</button>

    </div>
    <hr>

    <h1 class="subtitle-section mt-20">
      Possui uma cópia do ato acima?
    </h1>

    <form class="form">
      <div class="file-upload-wrapper" data-text="Selecione um ou mais arquivos">
        <input name="file-upload-field" type="file" (change)="infoService.handleSelect($event)"
          class="file-upload-field" multiple>
      </div>
    </form>
    <div class="files" *ngFor="let file of infoService.files">
      <span>{{file.name}}</span>
      <mat-icon (click)="removeSelectedFile(file)">close</mat-icon>
    </div>


    <div>
      <hr>

      <h1 class="subtitle-section mt-20">Forma de entrega</h1>

      <section class="example-section">
        <mat-checkbox class="example-margin" (click)="onClick('Retirar no cartório')" formControlName="certidaoDigital">
          Certidao digital</mat-checkbox>
      </section>
    </div>


    <div class="printed" *ngIf="!profileForm.value.certidaoDigital">
      <hr>

      <h1 class="subtitle-section mt-20">
        Tipo de retirada
      </h1>
      <mat-radio-group required color="primary" aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="infoService.opcaoEntregaSelecionada" [ngModelOptions]="{standalone: true}">
        <mat-radio-button (click)="onClick(opcaoEntregaSelecionada)" class="example-radio-button"
          *ngFor="let opcaoEntregaSelecionada of infoService.opcoesEntrega" [value]="opcaoEntregaSelecionada">
          {{opcaoEntregaSelecionada}}
        </mat-radio-button>
      </mat-radio-group>



      <div formGroupName="endereco">
        <div class="to-deliver" *ngIf="infoService.opcaoEntregaSelecionada === 'Entregar no endereço'">
          <p><i>Os campos marcados com * são obrigatórios</i></p>
          <div class="d-flex">
            <mat-form-field class="example-full-width mr">
              <mat-label>CEP</mat-label>
              <input required mask="00000-000" (keyup)="getCep(profileForm.get('endereco').get('cep').value, 'endereco')"
                formControlName="cep" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width ml mr">
              <mat-label>Endereço *</mat-label>
              <input formControlName="logradouro" matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width ml">
              <mat-label>Número *</mat-label>
              <input formControlName="numero" matInput>
            </mat-form-field>
          </div>

          <div class="d-flex">
            <mat-form-field class="example-full-width mr">
              <mat-label>Complemento</mat-label>
              <input formControlName="complemento" matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width ml">
              <mat-label>Bairro *</mat-label>
              <input formControlName="bairro" matInput>
            </mat-form-field>
          </div>

          <div class="d-flex">
            <mat-form-field class="example-full-width mr">
              <mat-label>Estado</mat-label>
              <mat-select
                (selectionChange)="locateService.getMunicipiosPorEstado(this.profileForm.controls.endereco.value.uf)"
                required formControlName="uf">
                <mat-option *ngFor="let uf of locateService.estados" [value]="uf">
                  {{uf}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width ">
              <mat-label>Cidade</mat-label>

              <mat-select required formControlName="cidade">
                <mat-option *ngFor="let cidade of locateService.municipios" [value]="cidade">
                  {{cidade}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <h1 class="subtitle-section-1 mt-20">
      Dados do Solicitante
    </h1>
    <p><i>Os campos marcados com * são obrigatórios</i></p>
    <div formGroupName="solicitante">

      <div class="d-flex">
        <div class="example-full-width" style="flex-direction: column;">
          <mat-form-field class="example-full-width mr">
            <mat-label>Nome Completo</mat-label>
            <input required formControlName="nome" matInput
              pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ]*\s.[A-záàâãéèêíïóôõöúçñ\s]*">
          </mat-form-field>
          <small style="left: 5px; position: relative; top: -15px; color: red;" *ngIf="profileForm.get('solicitante').get('nome').invalid &&
              profileForm.get('solicitante').get('nome').touched
              ">Nome e sobrenome são obrigatórios</small>
        </div>

        <div class="example-full-width" style="flex-direction: column;">
          <mat-form-field class="example-full-width ml">
            <mat-label>CPF ou CNPJ</mat-label>
            <input required formControlName="cpfCnpj"
              on-focusout="cpfCnpjIsReal(profileForm.get('solicitante').get('cpfCnpj').value)"
              mask="000.000.000-00||00.000.000/0000-00" matInput>
          </mat-form-field>
          <small style="left: 10px; position: relative; top: -15px; color: red;" *ngIf="profileForm.get('solicitante').get('cpfCnpj').invalid &&
          profileForm.get('solicitante').get('cpfCnpj').touched
          "> {{error.cpfCnpj.message}} </small>
        </div>
      </div>

      <div class="d-flex">
        <div class=" example-full-width" style="flex-direction: column;">
          <mat-form-field class="example-full-width mr">
            <mat-label>E-mail</mat-label>
            <input on-focusout="validacaoEmail(profileForm.value.solicitante.email)" required formControlName="email"
              matInput>
          </mat-form-field>
          <small style="left: 5px; position: relative; top: -15px; color: red;"> {{error.email.message}} </small>
        </div>
        <div class=" example-full-width mr" style="flex-direction: column;">
          <mat-form-field class="example-full-width ml">
            <mat-label>Telefone/Celular</mat-label>
            <input required formControlName="telefone"
              on-focusout="phoneNumberIsReal(profileForm.get('solicitante').get('telefone').value)"
              mask="(00) 00000-0000||(00) 0000-0000" matInput>
          </mat-form-field>
          <small style="left: 10px; position: relative; top: -15px; color: red;"> {{error.phone.message}} </small>
        </div>
        <!-- <mat-form-field class="example-full-width ml">
          <mat-label>Responsável pela solicitação </mat-label>
          <mat-select formControlName="responsavel">
            <mat-option *ngFor="let responsavel of listaResponsavel" [value]="responsavel">
              {{responsavel.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
    <mat-form-field class="example-full-width">
      <mat-label>Mensagem</mat-label>
      <textarea required formControlName="mensagem" maxlength="3000" matInput placeholder="Digite uma mensagem"></textarea>
    </mat-form-field>


    <form formGroupName="enderecoSolicitante">
      <h1 class="title-section mt-20">Endereço do solicitante</h1>
      <p><i>Os campos marcados com * são obrigatórios</i></p>
      <div class="to-deliver">
        <div class="form-check form-group"
          *ngIf="infoService.opcaoEntregaSelecionada === 'Entregar no endereço' && this.profileForm.controls.endereco.valid">
          <input class="form-check-input" type="checkbox" value=""
            (click)="checkedEndereco(profileForm.get('endereco'))" [checked]="checkEnderecoEntrega">
          <label class="form-check-label">
            Mesmo dados de endereço de entrega?
          </label>
        </div>
        <div class="d-flex">
          <mat-form-field class="example-full-width mr">
            <mat-label>CEP </mat-label>
            <input required mask="00000-000" formControlName="cep" matInput
              (keyup)="getAddressOnly(profileForm.get('enderecoSolicitante').get('cep').value)">
          </mat-form-field>
          <mat-form-field class="example-full-width ml mr">
            <mat-label>Endereço </mat-label>
            <input required formControlName="logradouro" matInput>
          </mat-form-field>
          <mat-form-field class="example-full-width ml">
            <mat-label>Número </mat-label>
            <input required formControlName="numero" matInput>
          </mat-form-field>
        </div>

        <div class="d-flex">
          <mat-form-field class="example-full-width mr">
            <mat-label>Complemento</mat-label>
            <input formControlName="complemento" matInput>
          </mat-form-field>

          <mat-form-field class="example-full-width ml">
            <mat-label>Bairro </mat-label>
            <input required formControlName="bairro" matInput>
          </mat-form-field>
        </div>

        <div class="d-flex">
          <mat-form-field class="example-full-width mr">
            <mat-label>Estado </mat-label>
            <mat-select required
              (selectionChange)="locateService.getMunicipiosPorEstado(this.profileForm.controls.enderecoSolicitante.value.uf)"
               formControlName="uf">
              <mat-option *ngFor="let uf of locateService.estados" [value]="uf">
                {{uf}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width ">
            <mat-label>Cidade</mat-label>

            <mat-select required formControlName="cidade">
              <mat-option *ngFor="let cidade of locateService.municipios" [value]="cidade">
                {{cidade}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <!-- <hr> -->
    <!-- <div class="action-bottom" style="display: flex; justify-content: space-between; align-items: center;">
      <div>
        <h1 class="title-section mt-20">
          VALORES
        </h1>

        <p>Valor do serviço: {{(profileForm.value.certidaoDigital ?
          buscaCepService?.valorServico + 1 : buscaCepService?.valorServico) | currency:'BRL':true}}</p>
        <div *ngIf="profileForm.get('endereco').get('retirar').value == 1">
          <p>Frete: {{buscaCepService?.frete | currency:'BRL':true}}</p>
          <p>Total: {{buscaCepService?.valorTotal | currency:'BRL':true}}</p>
        </div>

      </div>
    </div> -->
    <div class="text-right">
      <button [disabled]="profileForm.invalid || error.cpfCnpj.message != ''
      || error.phone.message != '' " mat-raised-button color="primary" class="btn">ENVIAR
        SOLICITAÇÃO</button>
      <p *ngIf="profileForm.invalid || error.cpfCnpj.message != ''
      || error.phone.message != '' " style="margin-top: 5px;"><i>Confirme se todas as
          informações foram preenchidas</i>
      </p>
    </div>


  </form>


</div>
