<div class="content">
  <h1 class="title-section">
    CONFIRMAR INFORMAÇÕES PREENCHIDAS
  </h1>
  <div class="dados-ato" [hidden]="data.dados.length > 1">
    <h3>Termo: <i>{{data.dados[0].termo || 'Não informado'}}</i></h3>
    <h3>Livro: <i>{{data.dados[0].livro || 'Não informado'}}</i></h3>
    <h3>Folha: <i>{{data.dados[0].folha || 'Não informado'}}</i> </h3>
  </div>

  <div class="dados-ato" *ngIf="buscaCepService.qtdSolicitacoes > 1">
    <h3>Quantidade de solicitações: <i>{{buscaCepService?.qtdSolicitacoes}}</i></h3>
  </div>


  <h3>Forma de retirada: <i>{{data.tipoRetirada === 0 ? 'Retirar no cartório' : 'Entregar no
      endereço'}}</i></h3>

  <div *ngIf="data.tipoRetirada == 1" class="forma-entrega">
    <h3>Endereço de entrega:
      <i>{{data.endereco.logradouro}} -
        {{data.endereco.numero}} -
        {{data.endereco.cep}} -
        {{data.endereco.cidade}} -
        {{data.endereco.uf}}
      </i>
    </h3>
  </div>
  <div class="dados-solicitante">
    <h3>Nome do solicitante: <i>{{data.dadosSolicitante.nome}}</i></h3>
    <h3>Responsável pela solicitação: <i>{{data.dadosSolicitante.responsavel.nome}}</i></h3>

    <h3>CPF/CNPJ do Solicitante:
      <i>{{data.dadosSolicitante.cpfCnpj}}</i>
    </h3>
    <h3>Email: <i>{{data.dadosSolicitante.email}}</i></h3>
    <h3>Telefone: <i>{{data.dadosSolicitante.telefone}}</i></h3>
    <h3>Mensagem: <i>{{data.mensagem}}</i></h3>
  </div>
  <div class="valores">
    <h3>Valor do serviço: <i>{{this.data.valorSolicitacao | currency :'BRL':true}}</i></h3>
    <h3>Valor do frete:
      <i>
        {{ (showFreightValue() == 0 ? 0 : showFreightValue()) | currency: 'BRL':true }}
      </i>
    </h3>
    <h3 *ngIf="data.tipoRetirada == 1 && this.data.valorFrete == 0"><i>Não foi possível calcular o frete da sua solicitação neste momento, portanto, o valor da solicitação será alterado após nossa análise.</i></h3>
    <br>
    <h2 style="text-align: center;">Valor total do serviço:
      {{
      this.data.valorSolicitacao + (showFreightValue() == 0 ?
      0 : showFreightValue())|currency:'BRL':true
      }}
    </h2>

  </div>

  <div class="action">
    <button mat-raised-button color="primary" class="btn" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="this.infoService.clicked" class="btn"
      (click)="submit()">Confirmar</button>
  </div>
</div>
