/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,300");
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  margin: 0;
  //  overflow: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 175, 175);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(131, 129, 129);
}

.btn {
  width: 250px;
  height: 50px;
}


.title-section {
  margin-bottom: 20px !important;
  font-size: 13pt !important;
  font-weight: 300 !important;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}

.danger {
  background: rgb(224, 148, 148);
  color: white;
}

.success{
  background: rgba(28, 224, 28, 0.973);
  color: white
}

.mt-20 {
  margin-top: 20px !important;
}
.mr-20 {
  margin-right: 20px !important;
}
hr {
  opacity: 0.4;
  margin-top: 30px;
  width: 98%;
  margin-bottom: 30px;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column !important;
}

.content {
  form {
    .select-city {
      width: 300px;
      margin-left: 8px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.example-full-width,
.w-100 {
  width: 100%;
}

.example-radio-group {
  display: flex;

  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

.invalid-form-field {
  border: 2px solid rgba(255, 0, 0, 0.534);
}

.mbottom-4{
  margin-bottom: 4px;
}

.f-flex-f-direction-column {
  display: flex;
  flex-direction: column;
}
