
<div class="menu text-center">
  <div class="d-flex logo justify-content-center align-items-center">
    <h4>LOGO</h4>
  </div>

  <div class="options mt-4">
    <div class="p-2" *ngFor="let item of itens">
      <div class="d-flex align-items-center justify-content-start">
        <i class="mr-3 {{item.icone}}"></i>
        <div class="c-p" [routerLink]="item.rota"> {{item.descricao}} </div>
      </div>
    </div>
  </div>
</div>

