.content {
  margin: 30px 50px 50px 50px;

  form {

    .select-city {
      width: 300px;

    }
  }
}
.text-right {
  text-align: right;
  button:disabled {
      cursor: not-allowed;
      background: rgb(169, 167, 167);
      color: rgb(49, 49, 49);
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
      display: flex;
      flex-direction: column;
  }
}

.d-flex-tiulo{
  display: flex;
}
.files {
  margin-top: 15px;
  display: flex;
  align-items: center;
  mat-icon {
      margin-left: 10px;
      cursor: pointer;
  }
}

.file-upload-wrapper {
  $defaultColor: #d5d5d5;
  $height: 60px;

  position: relative;
  width: 100%;
  height: $height;

  &:after {
      border: 1px solid rgb(231, 230, 230);
      content: attr(data-text);
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      padding: 10px 15px;
      display: block;
      width: calc(100% - 40px);
      pointer-events: none;
      z-index: 20;
      height: 62px;
      line-height: $height - 20px;
      color: #999;
      border-radius: 5px 10px 10px 5px;
      font-weight: 300;
  }

  &:before {
      content: "Upload";
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      height: 62px;
      background: $defaultColor;
      color: #fff;
      font-weight: 700;
      z-index: 25;
      font-size: 16px;
      line-height: $height;
      padding: 0 15px;
      text-transform: uppercase;
      pointer-events: none;
      border-radius: 0 5px 5px 0;
  }

  &:hover {
      &:before {
          background: darken($defaultColor, 10%);
          transition: 400ms;
      }
  }

  input {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 99;
      margin: 0;
      padding: 0;
      display: block;
      cursor: pointer;
      width: 100%;
  }
  input:disabled {
      cursor: not-allowed;
  }
}

.d-flex {
  display: flex;
}

.mr {
  margin-right: 5px;
}

.ml {
  margin-left: 5px;
}

.example-full-width {
  width:100%;

}

.example-radio-group {
  display: flex;

  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

@media (max-width: 685px) {
  .content {
    margin: 20px 30px;
  }

  .w100 {
    width: 100% !important;
  }

  .ml,
  .mr {
    margin: 0 !important;
  }

  .flex-column-mb {
    flex-direction: column !important;

  }

  .select-city {
    width: 100% !important;
  }

  .flex-column-mb-2 {
    flex-direction: column !important;


  }

  .d-flex {
    flex-direction: column !important;
  }
  .example-radio-group{
    flex-direction: column !important;
  }
}

@media (max-width: 585px) {
  .flex-column-mb-2 {
    flex-direction: column !important;
  }
}

@media (max-width: 470px) {
  .content {
    margin: 10px;
  }
}
@media (max-width: 500px) {
  .title-section{
    text-align: center;
  }
  .btn{
    width: 100%;
  }
}

